<section>
    <div class="fixed-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <nav>
                        <app-nav-bar></app-nav-bar>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <header>
                        <app-header></app-header>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <main>     
        <router-outlet></router-outlet>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</section>
